.navbar {
  background-color: #424242;
  color: #fff;
  padding: 10px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #ccc;
}