.navbar {
  background-color: #424242;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 8px 20px; /* גודל הכפתור */
  border: 2px solid #ffd700; /* מסגרת מזהב */
  border-radius: 20px; /* פינות מעוגלות */
  display: flex;
}

.nav-link:hover {
  background-color: #ffd700; /* רקע מזהב בעת העברת העכבר */
  color: #424242; /* כתב שחור בעת העברת העכבר */
}
.current-time {
  color: rgb(211, 199, 28); /* צבע הטקסט */
  font-size: 18px; /* גודל הגופן */
  margin-left: px; /* מרווח משמאל */
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ConnectUs-nav-item {
  margin-left: 150px; /* רווח בין הלינקים */
  color: rgb(211, 199, 28); /* צבע הטקסט */
  font-size: 18px; /* גודל הגופן */
  
}
.ConnectUsnav-link:hover {
  background-color: #ffd700; /* רקע מזהב בעת העברת העכבר */
  color: #424242; /* כתב שחור בעת העברת העכבר */
}
.ConnectUsnav-link{
  color: #fff;
  text-decoration: none;
  padding: 8px 20px; /* גודל הכפתור */
  border: 2px solid #ffd700; /* מסגרת מזהב */
  border-radius: 20px; /* פינות מעוגלות */
  display: flex;
}